
.itemContainer{
    width: 90%;
    align-items: flex-start;
    margin:1rem;

}
.message{
    display: block;
    margin:1rem;
    width: 5rem;
    padding:1rem;
    font-style: italic;
    border-bottom: solid rgb(105, 94, 94);
    border-right:solid rgb(184, 179, 179);
}