*{
    text-decoration: none;
}

.menuContainer{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0; 
    /* background-color: #884EA0 ;  */

}

.menuContainer h2{
    color: #F4D03F;
    font-size: 2rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    width:60%;
    
}

.menu li{
    padding: 0 1rem; 
    margin:  0 1rem; 
    list-style: none ;
    font-size: 1.5rem;
    
}

.menu li a{
    text-decoration: none ;
    color: #F4D03F;
    font-style: bold;
    
}
