
.App {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
 
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #884EA0 ; 
  width: 100%;
}

