
.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url("./fondo.jpg");
  background-size: cover;

 
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #884EA0 ;  */
  width: 100%;
}

